:root {
    --Verde: #008f39;
    --rojo: #ff0000;
		--blanco: #fff;
		--negro: #000;
    --colorTexto: #2DE1FC;
		--colorPrincipal: #16C172;
		--fuentePrincipal: 'Roboto Mono';
}

/*Globales*/    

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}    
body {  
    font-size: 16px;
		font-family: var(--fuentePrincipal);
    /*height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
		background: rgb(22,193,114);
		background: linear-gradient(0deg, rgba(22,193,114,1) 0%, rgba(255,255,255,1) 79%);*/
}

h1{
	font-size: 4rem;
  color: var(--colorTexto);
  text-align: center;

}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

span {
  font-size: 3rem;
}

p{
	font-size: 2.5rem;
}

/*header*/

.titulo {
    font-size: 2rem;
    text-align: center;
    color: #04009a;
    font-family:  var(--fuentePrincipal)
}



/*nav*/

 nav a{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
		background-color: var(--colorPrincipal);
}

nav a:hover {
    background-color: #09E85E;
    color: black;
}

nav a:last-of-type {
    margin-bottom:0;
}

nav {
    display: flex;
	  flex-direction: row;
    justify-content: space-around;
		width: 100%;
		margin-bottom: 2rem;
}

/**main**/   

main {
	margin-top: 2rem;
	text-align: center;
	color: var(--blanco);
}

main a{
	color: #7ce3fc;
	text-decoration: none;
}

























/*.shadow {
    padding: 2rem;
		margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
*/
/*https://coolors.co/2de1fc-2afc98-09e85e-16c172-214f4b*/